.header {
  padding: 20px;
  text-align: center;
  background: #002145;
  color: white;
  font-size: 15px;
}

.column {
    float: left;
}

.left {
    width: 50%;
    background-color: #BECEC7;
}

.right {
    width: 50%;
    background-color: #5A726B;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }